<p>query works!</p>
<table class="table table-stripped">
    <tr>
      <th>Query Id</th>
      <th>Query Description</th>
      <th>Query Status</th>
    </tr>
    <tr>
      <td><input type="radio"></td>
      <td>20</td>
      <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="radio"></td>
        <td>30</td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><input type="radio"></td>
        <td>30</td>
        <td><input type="text"></td>
      </tr>
  </table>

    


